<template>
    <div>
        <v-card v-for="(item, index) in logs" :key="index">
            <v-card-title primary-title>
                <v-flex>
                    <div class="left">
                        <h3 class="headline mb-0">
                            {{item.action.name+' '+item.details || 'Wrong info'}}
                            <span
                                class="d-flex caption font-weight-light lh-1"
                            >{{ item.location.name + ' ' + deviceName(item) }}</span>
                        </h3>
                    </div>
                    <div class="right">
                        <v-tooltip bottom>
                            <template v-slot:activator="{ on }">
                                <span
                                    v-on="on"
                                    class="caption font-weight-light lh-1"
                                >{{getTimeAgo(item.time)}}</span>
                            </template>
                            <span>{{realTime(item.time)}}</span>
                        </v-tooltip>
                    </div>
                </v-flex>
            </v-card-title>
        </v-card>
    </div>
</template>

<script>
import { doFetch } from '../../helpers/Utils'
import TimeAgo from 'javascript-time-ago'
import en from 'javascript-time-ago/locale/en'
TimeAgo.addLocale(en)

export default {
    name: 'LogsList',
    data() {
        return {
            logs: [],
        }
    },
    methods: {
        getLogs() {
            doFetch('/logs').then(response => {
                const { data } = response.data

                this.logs = data
            })
        },
        realTime(time) {
            const date = new Date(parseInt(time + '000'))
            return date
        },
        getTimeAgo(time) {
            const timeAgo = new TimeAgo('en-US')
            return timeAgo.format(this.realTime(time))
        },
        deviceName(item) {
            return item.device ? item.device.name : ''
        },
    },
    mounted() {
        this.getLogs()
    },
}
</script>

<style lang="scss" scoped>
.messages-list {
    height: 60vh;
    overflow: auto;
}
.img-avatar {
    max-width: 48px;
    border-radius: 50%;
}
.lh-1 {
    line-height: 1;
}
</style>
