<template>
    <Edit v-if="this.$route.name.toLowerCase().includes('edit')" />
    <Create v-else-if="this.$route.name.toLowerCase().includes('create')" />
    <List v-else />
</template>

<script>
import List from '@/components/actions/List'
import Edit from '@/components/actions/Edit'
import Create from '@/components/actions/Create'

export default {
    name: 'Actions',
    components: {
        List,
        Edit,
        Create,
    },
}
</script>
