<template>
    <Edit v-if="this.$route.name.toLowerCase().includes('edit')" />
    <Create v-else-if="this.$route.name.toLowerCase().includes('create')" />
    <List v-else />
</template>

<script>
import List from '@/components/devices/List'
import Edit from '@/components/devices/Edit'
import Create from '@/components/devices/Create'

export default {
    name: 'Devices',
    components: {
        List,
        Edit,
        Create,
    },
}
</script>
