<template>
    <v-footer app fixed>
        <v-card-actions class="grey darken-3 justify-center flex">
            <strong>&copy; 2019 — DDCode.eu</strong>
        </v-card-actions>
    </v-footer>
</template>

<script>
export default {
    name: 'Footer',
}
</script>