<template>
    <v-toolbar app fixed clipped-left>
        <v-toolbar-side-icon @click.stop="toggleDrawer"></v-toolbar-side-icon>
        <v-toolbar-title>
            <router-link :to="{ name: 'Home' }">{{name}}</router-link>
        </v-toolbar-title>
    </v-toolbar>
</template>

<script>
import { mapMutations } from 'vuex'

export default {
    name: 'Header',
    data() {
        return {
            name: process.env.VUE_APP_NAME,
        }
    },
    methods: {
        ...mapMutations(['toggleDrawer']),
    },
}
</script>

<style lang="scss" scoped>
a {
    color: #fff;
    text-decoration: none;
}
</style>
