<template>
    <v-navigation-drawer v-model="drawer" clipped fixed app>
        <v-list dense>
            <router-link v-for="(item, index) in routes" :key="index" :to="item.path">
                <v-list-tile>
                    <v-list-tile-action>
                        <v-icon>{{item.icon}}</v-icon>
                    </v-list-tile-action>
                    <v-list-tile-content>
                        <v-list-tile-title>{{item.name}}</v-list-tile-title>
                    </v-list-tile-content>
                </v-list-tile>
            </router-link>
        </v-list>
    </v-navigation-drawer>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
    name: 'Sidebar',
    data() {
        return {
            drawer: false,
        }
    },
    methods: {
        drawerController() {
            this.drawer = this.getDrawerState
        },
    },
    computed: {
        ...mapGetters(['getDrawerState']),
        routes() {
            const routes = this.$router.options.routes.filter(
                item => item.inSidebar
            )
            return routes
        },
    },
    watch: {
        getDrawerState: function(newVal) {
            this.drawer = newVal
        },
    },
    mounted() {
        this.drawerController()
    },
}
</script>

<style lang="scss" scoped>
a {
    color: #fff;
    text-decoration: none;

    &:hover {
        > div {
            background: rgba(0, 0, 0, 0.1);
        }
    }
}
</style>
