<template>
    <div>
        <div class="head-section">
            <router-link :to="{name:'LocationsCreate'}">
                <v-btn color="success">Add</v-btn>
            </router-link>
        </div>
        <div v-if="items.length">
            <v-card v-for="(item, index) in items" :key="index">
                <v-card-title primary-title>
                    <v-flex>
                        <div class="left">
                            <h3 v-if="item.showID" class="headline mb-0">{{ item._id }}</h3>
                            <h3 v-else class="headline mb-0">{{ item.name }}</h3>
                        </div>
                        <div class="right">
                            <v-tooltip bottom>
                                <template v-slot:activator="{ on }">
                                    <v-btn
                                        color="green"
                                        @click="item.showID = !item.showID"
                                        v-on="on"
                                        icon
                                    >
                                        <v-icon>vpn_key</v-icon>
                                    </v-btn>
                                </template>
                                <span>Show ID</span>
                            </v-tooltip>

                            <v-tooltip bottom>
                                <template v-slot:activator="{ on }">
                                    <router-link
                                        :to="{name: 'LocationsEdit', params: {id: item._id}}"
                                    >
                                        <v-btn color="orange" v-on="on" icon>
                                            <v-icon>edit</v-icon>
                                        </v-btn>
                                    </router-link>
                                </template>
                                <span>Edit</span>
                            </v-tooltip>

                            <v-tooltip bottom>
                                <template v-slot:activator="{ on }">
                                    <v-btn color="red" v-on="on" icon @click="removeItem(item)">
                                        <v-icon>delete_forever</v-icon>
                                    </v-btn>
                                </template>
                                <span>Remove</span>
                            </v-tooltip>
                        </div>
                    </v-flex>
                </v-card-title>
            </v-card>
        </div>
    </div>
</template>

<script>
import { doFetch } from '@/helpers/Utils'

export default {
    name: 'LocationsList',
    data() {
        return {
            items: [],
            loader: null,
            loading: false,
        }
    },
    methods: {
        getItems() {
            doFetch('/locations').then(response => {
                const { data } = response

                data.map(item => (item.showID = false))

                this.items = data
            })
        },
        removeItem(item) {
            doFetch(`/locations/${item._id}`, null, 'DELETE').then(response => {
                const { data } = response.data

                this.items = data
            })
        },
    },
    mounted() {
        this.getItems()
    },
}
</script>