<template>
    <v-form @submit.prevent="submitChanges">
        <img v-if="item.icon" :src="item.icon" class="logo-preview" />
        <v-text-field v-model="item.icon" label="Icon" required></v-text-field>
        <v-text-field v-model="item.name" label="Name" required></v-text-field>
        <v-text-field v-model="item.address" label="Address" required></v-text-field>
        <v-select
            v-model="item.location"
            label="Location"
            item-text="name"
            item-value="_id"
            :items="locations"
        ></v-select>
        <v-switch v-model="item.has_camera" color="green" label="Has camera" hide-details />
        <v-switch v-model="item.has_speaker" color="green" hide-details label="Has speaker" />
        <v-switch
            v-model="item.has_thermometer"
            color="green"
            hide-details
            label="Has thermometer"
        />
        <v-switch
            v-model="item.has_movement_sensor"
            color="green"
            hide-details
            label="Has movement"
        />
        <v-switch v-model="item.send_notifications" color="green" label="Send notifications" />

        <div class="right">
            <v-btn color="success" @click="submitChanges">Save</v-btn>
        </div>
    </v-form>
</template>

<script>
import { doFetch } from '../../helpers/Utils'
import router from '../../router'

export default {
    name: 'DevicesEdit',
    data() {
        return {
            item: {
                name: null,
                logo: null,
                address: null,
                location: null,
                has_camera: false,
                has_speaker: false,
                has_thermometer: false,
                send_notification: false,
                has_movement_sensor: false,
            },
            locations: [],
        }
    },
    methods: {
        submitChanges() {
            const { id } = this.$route.params
            const url = `/devices/${id}`

            doFetch(url, this.item, 'PUT').then(response => {
                const { data } = response
                this.item = data

                router.push({ name: 'Devices' })
            })
        },
        getDetails() {
            const { id } = this.$route.params

            const url = `/devices/${id}`

            doFetch(url).then(response => {
                const { data } = response
                this.item = data
            })
        },
        getLocations() {
            doFetch('/locations').then(response => {
                const { data } = response

                this.locations = data
            })
        },
    },
    mounted() {
        this.getDetails()
        this.getLocations()
    },
}
</script>

<style lang="scss" scoped>
.logo-preview {
    max-height: 200px;
    display: flex;
    margin: 0 auto;
}
</style>
