<template>
    <div>
        <div class="head-section">
            <router-link :to="{name:'DevicesCreate'}">
                <v-btn color="success">Add</v-btn>
            </router-link>
        </div>

        <v-container fluid grid-list-md>
            <v-layout row wrap>
                <v-flex v-for="(item, index) in items" :key="index" class="xs4">
                    <v-card>
                        <v-img :src="item.icon" style="height: 320px"></v-img>

                        <v-card-actions>
                            <span class="headline white--text" v-text="item.name"></span>

                            <v-spacer></v-spacer>

                            <v-tooltip bottom>
                                <template v-slot:activator="{ on }">
                                    <v-btn class="mr-2" @click="copyId(item)" v-on="on" icon>
                                        <v-icon>file_copy</v-icon>
                                    </v-btn>
                                </template>
                                <span>Copy ID</span>
                            </v-tooltip>

                            <v-tooltip bottom>
                                <template v-slot:activator="{ on }">
                                    <router-link
                                        class="pr-2"
                                        :to="{name: 'DevicesEdit', params: {id: item._id}}"
                                    >
                                        <v-btn v-on="on" icon>
                                            <v-icon>edit</v-icon>
                                        </v-btn>
                                    </router-link>
                                </template>
                                <span>Edit</span>
                            </v-tooltip>

                            <v-tooltip bottom>
                                <template v-slot:activator="{ on }">
                                    <v-btn v-on="on" icon @click="removeItem(item)">
                                        <v-icon>delete_forever</v-icon>
                                    </v-btn>
                                </template>
                                <span>Remove</span>
                            </v-tooltip>
                        </v-card-actions>
                    </v-card>
                </v-flex>
            </v-layout>
        </v-container>
    </div>
</template>

<script>
import { doFetch } from '@/helpers/Utils'

export default {
    name: 'DevicesList',
    data() {
        return {
            items: [],
        }
    },
    methods: {
        getItems() {
            doFetch('/devices').then(response => {
                const { data } = response

                this.items = data
            })
        },
        removeItem(item) {
            doFetch(`/devices/${item._id}`, null, 'DELETE').then(response => {
                const { data } = response.data

                this.items = data
            })
        },
        copyId(item) {
            alert(item._id)
        },
    },
    mounted() {
        this.getItems()
    },
}
</script>