<template>
    <v-app id="inspire" dark>
        <v-flex>
            <Sidebar/>
            <Header/>
            <v-content class="h-100">
                <v-container fluid fill-height>
                    <v-layout justify-center>
                        <v-flex>
                            <router-view/>
                        </v-flex>
                    </v-layout>
                </v-container>
            </v-content>
            <Footer/>
        </v-flex>
    </v-app>
</template>

<script>
import Sidebar from './components/general/Sidebar'
import Header from './components/general/Header'
import Footer from './components/general/Footer'

export default {
    name: 'App',
    components: {
        Sidebar,
        Header,
        Footer,
    },
    created() {
        document.title = process.env.VUE_APP_TITLE
    },
}
</script>
