<template>
    <v-form @submit="submitChanges">
        <img v-if="item.photo" :src="item.photo" />
        <v-text-field v-model="item.photo" label="Photo" required></v-text-field>
        <v-text-field v-model="item.name" label="Name" required></v-text-field>

        <div class="right">
            <v-btn color="success" @click="submitChanges">Save</v-btn>
        </div>
    </v-form>
</template>

<script>
import router from '@/router.js'
import { doFetch } from '@/helpers/Utils'

export default {
    name: 'PeopleCreate',
    data() {
        return {
            item: {
                name: null,
                photo: null,
            },
        }
    },
    methods: {
        submitChanges() {
            const { name, photo } = this.item

            doFetch('/people', { name, photo }, 'post')
                //eslint-disable-next-line
                .then(response => {
                    router.push({
                        name: 'People',
                    })
                })
                //eslint-disable-next-line
                .catch(error => console.log(error))
        },
    },
}
</script>