<template>
    <v-form @submit="submitChanges">
        <img v-if="item.photo" :src="item.photo" />
        <v-text-field v-model="item.photo" label="Photo" required></v-text-field>
        <v-text-field v-model="item.name" label="Name" required></v-text-field>

        <div class="right">
            <v-btn color="success" @click="submitChanges">Save</v-btn>
        </div>
    </v-form>
</template>

<script>
import { doFetch } from '@/helpers/Utils'

export default {
    name: 'PeopleEdit',
    data() {
        return {
            item: {
                name: null,
                photo: null,
            },
        }
    },
    methods: {
        submitChanges() {
            alert('submit')
        },
        getDetails() {
            const { id } = this.$route.params

            const url = `/people/${id}`

            doFetch(url).then(response => {
                const { data } = response
                this.item = data
            })
        },
    },
    mounted() {
        this.getDetails()
    },
}
</script>

<style lang="scss" scoped>
.logo-preview {
    max-height: 200px;
    display: flex;
    margin: 0 auto;
}
</style>
