<template>
    <div>
        <div class="head-section">
            <router-link :to="{name:'PeopleCreate'}">
                <v-btn color="success">Add</v-btn>
            </router-link>
        </div>
        <div v-if="items.length">
            <v-card v-for="(item, index) in items" :key="index">
                <v-card-title primary-title>
                    <v-flex>
                        <div class="left">
                            <h3 class="headline mb-0">{{ item.name }}</h3>
                        </div>
                        <div class="right">
                            <router-link :to="{name: 'PeopleEdit', params: {id: item._id}}">
                                <v-btn color="info">Edit</v-btn>
                            </router-link>
                            <v-btn
                                color="error"
                                :loading="loading"
                                :disabled="loading"
                                @click="loader = 'loading'"
                            >
                                Suspend
                                <template v-slot:loader>
                                    <span class="loader-action">
                                        <v-icon>cached</v-icon>
                                    </span>
                                </template>
                            </v-btn>
                        </div>
                    </v-flex>
                </v-card-title>
            </v-card>
        </div>
    </div>
</template>

<script>
import { doFetch } from '@/helpers/Utils'

export default {
    name: 'PeopleList',
    data() {
        return {
            items: [],
            loader: null,
            loading: false,
        }
    },
    methods: {
        getItems() {
            doFetch('/people').then(response => {
                const { data } = response

                this.items = data
            })
        },
    },
    watch: {
        loader() {
            const l = this.loader
            this[l] = !this[l]

            setTimeout(() => (this[l] = false), 2000)

            this.loader = null
        },
        loading() {
            console.log(`Pressed suspend`)
        },
    },
    mounted() {
        this.getItems()
    },
}
</script>