<template>
    <v-form @submit="submitChanges">
        <v-text-field v-model="item.name" label="Name" required></v-text-field>

        <div class="right">
            <v-btn color="success" @click="submitChanges">Save</v-btn>
        </div>
    </v-form>
</template>

<script>
import router from '@/router.js'
import { doFetch } from '@/helpers/Utils'

export default {
    name: 'ActionsCreate',
    data() {
        return {
            item: {
                name: null,
            },
        }
    },
    methods: {
        submitChanges() {
            doFetch('/actions', this.item, 'post')
                .then(() => {
                    router.push({
                        name: 'Actions',
                    })
                })
                //eslint-disable-next-line
                .catch(error => console.log(error))
        },
    },
}
</script>