<template>
    <v-form @submit.prevent="submitChanges">
        <v-text-field v-model="item._id" label="ID" :readonly="true" required></v-text-field>
        <v-text-field v-model="item.name" label="Name" required></v-text-field>

        <div class="right">
            <v-btn color="success" @click="submitChanges">Save</v-btn>
        </div>
    </v-form>
</template>

<script>
import { doFetch } from '@/helpers/Utils'
import router from '@/router'

export default {
    name: 'ActionsEdit',
    data() {
        return {
            item: {
                name: null,
            },
        }
    },
    methods: {
        submitChanges() {
            const { id } = this.$route.params
            const url = `/actions/${id}`

            doFetch(url, this.item, 'PUT').then(response => {
                const { data } = response
                this.item = data

                router.push({ name: 'Actions' })
            })
        },
        getDetails() {
            const { id } = this.$route.params

            const url = `/actions/${id}`

            doFetch(url).then(response => {
                const { data } = response
                this.item = data
            })
        },
    },
    mounted() {
        this.getDetails()
    },
}
</script>